<header class="header">
  <div class="logo">
    💰 Finance Tracker
  </div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
    <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
  </nav>
    <div class="user-section">

    <span class="email" *ngIf="loggedUser">
      {{ loggedUser }}
    </span>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>
</header>