<div class="page"> 
    <h2>Settings and preferences</h2>
    <form (ngSubmit)="save()">
      <label class="checkbox-container">
        <input
          type="checkbox"
          [(ngModel)]="preferences.dark_mode"
          name="darkMode"
        />
        <span class="custom-checkbox"></span>
        Enable Insights
      </label>
      <label class="checkbox-container">
        <input
          type="checkbox"
          [(ngModel)]="preferences.monthly_budget"
          name="monthly_budget"
        />
        <span class="custom-checkbox"></span>
        Show Monthly Budget
      </label>
     
      <div class="form-group">
        <label>Currency</label>
        <div class="select-wrapper">
          <select [(ngModel)]="preferences.currency" name="currency">
              <option value="RON">RON</option>
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Default Category</label>
        <div class="select-wrapper">
          <select [(ngModel)]="preferences.default_category_id" name="default_category_id">
              <!-- <option value="Food">Food</option>
              <option value="Home">Facturi</option>
              <option value="Home">Home</option>
              <option value="Transport">Transport</option> -->
              <option *ngFor="let cat of categories" [value]="cat.id">
                {{ cat.name }}
              </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Default Account</label>
        <div class="select-wrapper">
          <select [(ngModel)]="preferences.default_account_id" name="default_account_id">
            <option *ngFor="let acc of accounts" [value]="acc.id">
                {{ acc.name }}
            </option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <button (click)="save()" class="primary-btn">Save Preferences</button>
      </div>
    </form>

    <!-- <button (click)="closeMonth()" class="secondary-btn">Close Month</button> -->
    </div>