<div class="card">

  <h2>Credit Management</h2>

  <div class="summary">

    <div class="summary-card">
      <span>Remaining to pay Total: </span>
      <strong>{{ sumLeftToPay | userCurrency }}</strong>
    </div>

    <div class="summary-card">
      <span>Remaining to pay Principal Only: </span>
      <strong>{{ sumLeftToPayPrincipalOnly | userCurrency }}</strong>
    </div>

    <div class="summary-card">
      <span>Count months left: </span>
      <strong>{{ countLeftToPay }}</strong>
    </div>
  </div>
  <div class="tips-grid">

    <div class="tip-card blue">
      <strong>Reduce 1 month</strong>
      <p>Pay <span class="font-bold">{{nextMonthPrincipal | userCurrency}}</span> to save <span class="font-bold">{{nextMonthTotal - nextMonthPrincipal | userCurrency}}</span> from next installment and remain with {{countLeftToPay - 1}} months.</p>
    </div>

    <div class="tip-card green">
      <strong>Reduce 2 months</strong>
      <p>Pay <span class="font-bold">{{next2MonthsPrincipal | userCurrency}}</span> to save <span class="font-bold">{{next2MonthsTotal - next2MonthsPrincipal | userCurrency}}</span> from the next two installments and remain with {{countLeftToPay - 2}} months.</p>
    </div>

    <div class="tip-card amber">
      <strong>Reduce 4 months</strong>
      <p>Pay <span class="font-bold">{{next4MonthsPrincipal | userCurrency}}</span> to save <span class="font-bold">{{next4MonthsTotal - next4MonthsPrincipal | userCurrency}}</span> from the next four installments and remain with {{countLeftToPay - 4}} months.</p>
    </div>

  </div>

</div>

  <table class="installments-table">
    <thead>
      <tr>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Insurance</th>
        <th>Paid</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let installment of installments">

        <td>{{ installment.due_date }}</td>

        <td>{{ installment.amount + installment.insurance | userCurrency }}</td>

        <td>{{ installment.principal_part | userCurrency }}</td>

        <td>{{ installment.amount - installment.principal_part | userCurrency }}</td>

        <td>{{ installment.insurance | userCurrency }}</td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="installment.paid"
            (change)="togglePaid(installment)">
        </td>

      </tr>

    </tbody>

  </table>
</div>