<div class="page">
<div class="grid">

  <div class="card">
    <h3>Total Balance</h3>
    <p>{{ totalBalance | currency: 'RON' }}</p>
  </div>

  <div class="card income">
    <h3>Income</h3>
    <p>{{ income | currency: 'RON' }}</p>
  </div>

  <div class="card expense">
    <h3>Expenses</h3>
    <p>{{ expenses | currency: 'RON' }}</p>
  </div>

</div>

<div class="charts">
  <div class="chart-card">
    <h3>Expenses by Category</h3>
    <canvas
      baseChart
      [data]="pieChartData"
      [type]="pieChartType">
    </canvas>

  </div>

  </div>

</div>