<div class="page">
  <div class="grid">

    <div class="card">
      <h3>Balance this month</h3>
      <p>{{ incomeThisMonth - expensesThisMonth | userCurrency }}</p>
    </div>

    <div class="card income">
      <h3>Income</h3>
      <p>{{ incomeThisMonth | userCurrency }}</p>
    </div>

    <div class="card expense">
      <h3>Expenses</h3>
      <p>{{ expensesThisMonth | userCurrency }}</p>
    </div>
  </div>

  <div class="charts grid">
    <div class="chart-card">
      <h3>This month's categories</h3>
      <div class="chart-container">
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="chartOptions">
        </canvas>
      </div>
    </div>
    <div class="card white">
      <h3>Compared to past month</h3>
      <div *ngFor="let cat of categoryComparison" class="insight-item">
        <span>{{ cat.category }}</span>
        <strong
          [class.positive]="cat.diff < 0"
          [class.negative]="cat.diff > 0"
        >
          {{ cat.percent }}
        </strong>
      </div>
    </div>
    <div class="card white" *ngIf="this.show_budget">
      <h3>Budget</h3>
      <div class="insight-item">
        <span>Average Monthly Spending</span>
        <strong>{{ averageMonthlySpending | userCurrency }}</strong>
      </div>
      <div class="insight-item">
        <span>This Month</span>
        <strong>{{ expensesThisMonth | userCurrency }}</strong>
      </div>
      <div class="insight-item">
        <span>Monthly Budget</span>
        <strong
          [class.over-budget]="monthlyBudget < 0"
        >
          {{ monthlyBudget | userCurrency }}
        </strong>
      </div>
      <div class="insight-item">
        <span>Remaining</span>
        <strong>{{ budgetRemaining | userCurrency }}</strong>
      </div>
      <div class="insight-item">
        <strong style="width:100%;">
          <span>{{ budgetUsedPercent.toFixed(1) }}% used</span>
        <div class="progress-bar">
          <div
            class="progress-fill"
            [style.width.%]="budgetUsedPercent"
            [class.danger]="budgetUsedPercent > 90"
            [class.warning]="budgetUsedPercent > 80 && budgetUsedPercent <= 90"
          ></div>
          <span>{{ budgetUsedPercent.toFixed(1) }}%</span>
        </div>
        
        </strong>
      </div>
      <div class="insight-item">
        <span>Daily Budget</span>
        <strong>{{ dailyBudget | userCurrency }} <span *ngIf="dailyBudget > spentToday">✅</span></strong>
      </div>
      <div class="insight-item">
        <span>Biggest elective expense this month</span>
        <strong>{{ maxExpenseThisMonth | userCurrency }} ({{ maxExpenseCategory }})</strong>
      </div>
    </div>

  </div>
</div>
