<div class="page">

  <h2>Transactions</h2>

  <div class="tx-card"
       *ngFor="let tx of transactions">

    <div class="tx-left">

      <div class="tx-title">
        {{ tx.description || 'No description' }}
      </div>

      <div class="tx-meta">
        {{ tx.categories?.name || 'Uncategorized' }}
        •
        {{ tx.accounts?.name }}
        •
        {{ tx.date | date:'mediumDate' }}
      </div>

    </div>

    <div class="tx-right">

      <div
        class="amount"
        [class.income]="tx.type === 'income'"
        [class.expense]="tx.type === 'expense'">

        {{ tx.type === 'expense' ? '-' : '+' }}
        {{ tx.amount | currency: 'RON' }}
      
      </div>

      <div class="actions">
        <button (click)="edit(tx)">Edit</button>
        <button class="delete" (click)="delete(tx.id)">Delete</button>
      </div>

    </div>

  </div>

</div>